* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: #0f1014; */
  box-sizing: border-box;
  /* color: #ffffff; */
  /*
    font-weight: 300;
    font-size: ;
    */
  /* line-height: 1.9; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #313b49c2;
}

/* BUTTON */
.btn {
  position: absolute;
  background-color: #ffffff00;
  top: 0;
  left: 60px;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.dao {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* SECTION */
.section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.section__padding {
  padding: 20px 0px;
  padding-left: 16rem;
  padding-right: 4rem;
}

.section__ .section--gap {
  gap: 20px;
}

.section__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 38px;
}

.section__contact {
  justify-content: center;
  align-items: center;
  padding-top: 440px;
  padding-bottom: 90px;
  gap: 8px;
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #313b49;
}

.section--heading {
  display: flex;
  flex-direction: column;
  padding: 0px 400px;
}

.section--text {
  font-size: 1.8rem;
  font-weight: 500;
}

/* CONTACT */
.contact--highlight {
  font-weight: 100;
}

/* FOOTER */
.footer {
  text-align: center;
}

.footer--highlight {
  color: #ffbf00;
}

@media (max-width: 480px) {
  .nav__links {
    width: 200px;
  }

  .about {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .section__contact {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
  }
}
