/*
Brand: #313B49
Sweet darker: #2a303c
White: #FFFFFF
Light golden: #FFBF00
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0f1014;
  box-sizing: border-box;
  color: #ffffff;
  /*
  font-weight: 300;
  font-size: ;
  */
  /* line-height: 1.9; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #ffffffa6;
}

/** CONTAINER **/
.container {
  /* max-width: 1920px; */
  max-width: 1440px;
  /* max-width: 1280px; */
  /* max-height: 4430px; */
  margin: 0 auto;
  padding: 1rem 2rem;
  /* position: relative; */
}

/** HEADER **/
/* .header {
 
} */
/* Logo */

/* NAV */
.navContainer {
  z-index: 100;
  margin: 0 auto;
  max-width: 1440px;
}

.sticky {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* position: sticky; */
  width: 100%;
  padding: 0 2rem;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 32px; */
  width: 376px;
  height: 48px;
  border: 1px solid #1a1c23;
  background: #1a1c23;
  box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.nav__link-item {
  font-size: 1rem;
  color: #ffffff;
  padding: 6px 14px;
}

.nav__link--active {
  border: 1px solid rgba(255, 255, 255, 0.08);
  /* border: 1px solid rgba(255, 255, 255); */
  border-radius: 24px;
  color: #ffbf00;
}

.default {
  width: 48px;
  height: 48px;
}

.navbtn {
  display: none;
  color: #ffffff;
  cursor: pointer;
  width: 80%;
  height: 80%;
  margin: 5px auto;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* HEADING */
/* .header {
} */

.heading {
  padding: 200px;
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.heading__title {
  font-style: normal;
  font-weight: 100;
  font-size: 60px;
  line-height: 67px;
  text-align: center;
}

.heading__button {
  background: #ffbf00;
  box-shadow: 4px 4px 0px #f49d1a;
  border-radius: 32px;
  width: 190px;
  height: 55px;
  border: none;
  cursor: pointer;
}

.btn__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #2a303c;
}

.heading__button:focus {
  outline: none;
}

.heading__button:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}

/* SECTION */
.section {
  /* padding-top: 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section__padding {
  padding-top: 80px;
  justify-content: space-between;
  gap: 40px;
}

.section__contact {
  justify-content: center;
  align-items: center;
  padding-top: 440px;
  padding-bottom: 90px;
  gap: 8px;
  height: 100vh;
}

.section--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--text {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

/* .section--hidden {
  opacity: 0;
  transform: translateY(8rem);
} */

/* .lazy-load {
  filter: blur(20px);
} */

/* WORKS */
.works {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 18px;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  width: 100%;
}

.works__img {
  width: 100%;
  height: 100%;
}

.work__img--1 {
  grid-column: 1 / 4;
}

.work__img--2 {
  grid-column: 4 / -1;
}

.work__img--3 {
  grid-column: 1 / 6;
}

.work__img--4 {
  grid-column: 6 / -1;
}

/* SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 36px;
  row-gap: 36px;
  width: 100%;
}

.service {
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 36px;
}

.service--text {
  /* font-size: ; */
  margin-bottom: 14px;
}

/* ABOUT US */
.about--text {
  padding: 0px 280px;
}

.about {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
}

.about__img {
  width: 100%;
  height: 310px;
  position: relative;
  margin: 0 auto;
}

/* .about__img img {
 
} */

/* CONTACT */
.contact--highlight {
  font-weight: 100;
}

/* FOOTER */
.footer {
  text-align: center;
}

.footer--highlight {
  color: #ffbf00;
}

/** Zoom in image **/
img {
  width: 100%;
  height: 100%;
}

.works__img img,
.about__img img {
  object-fit: cover;
}

/* Within Container */
.slowmo-img {
  /* height: 300px;  */
  /* [1.1] Set it as per your need */
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

.slowmo-img img {
  transition: transform 1s ease;
}

.slowmo-img:hover img {
  transform: scale(1.08);
}

/* (A) WRAPPER */
.fullwrap {
  cursor: pointer;
  position: relative;
  /* required for (c2) */
  /* max-width: 500px;  */
  /* optional */
}

/* (B) RESPONSIVE IMAGE */
/* .fullwrap img {
  width: 100%;
  height: 100%;
} */

/* (C) CAPTION */
.fullcap {
  /* (C1) DIMENSIONS */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;

  /* (C2) POSITION */
  position: absolute;
  top: 0;
  left: 0;
  /* text-align: center; */
  /* padding-bottom: 5%; */
  /* padding-bottom: 8%;
  padding-left: 5%; */

  /* (C3) COLORS */
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

/* (D) SHOW/HIDE */
.fullcap {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.fullwrap:hover .fullcap {
  visibility: visible;
  opacity: 1;
}

@keyframes text-entry {
  0% {
    transform: translateY(1rem);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.cap {
  position: absolute;
  bottom: 8%;
  left: 5%;
  right: 3%;
}

.cap-text {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

.fullwrap:hover .cap {
  animation: text-entry 0.5s linear;
}

/** RESPONSIVE LAYOUT **/

/* @media (min-width: 1280px) {
  .container {
    min-width: 1280px;
    margin: 0 auto;
  }
} */

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav {
    padding: 0 2rem
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  /* .heading{ */
    /* margin-top: 0px; */
    /* padding: 200px 180px; */
  /* } */
  
  /* .nav{
    padding: 0 2rem}*/
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .nav {
    align-items: flex-start;
    /* position: relative; */
    /* padding: 0 2rem; */
  }

  .heading {
    padding: 100px;
  }

  .navbar {
    /* width: 300px; */
    /* width: 100vw; */
    height: 0;
    position: absolute;
    /* margin: 0 auto; */
    top: 60px;
    left: 0;
    right: 0;
    overflow: hidden;
    /* border: none; */
    transition: 0.3s;
    z-index: 0;
  }

  .nav__links {
    flex-direction: column;
    /* display: block; */
    /* width: fit-content; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    opacity: 0;
    border: none;
    background-color: #0f1014;
    border-radius: 0px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
  }

  .show {
    opacity: 1;
    height: 232px;
  }

  /* .nav__link--item {
    opacity: 1;
  }

  .nav__item--opacity {
    opacity: 0;
  } */

  .navbtn {
    display: block;
  }

  /* .works {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  */

  .works__img {
    /* width: 100%; */
    height: 438px;
  }

  .work__img--1 {
    grid-column: 1 / -1;
  }

  .work__img--2 {
    grid-column: 1 / -1;
  }

  .work__img--3 {
    grid-column: 1 / -1;
  }

  .work__img--4 {
    grid-column: 1 / -1;
  }

  .about--text {
    padding: 0px 100px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* .nav {
    padding: 0 1rem;
  } */

  .heading {
    padding: 80px 50px;
  }

  .heading__title {
    font-size: 48px;
  }

  .services {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .about {
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }

  .about--text {
    padding: 0px 50px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }

  .heading {
    padding: 80px 0px;
    margin-top: 44px;
  }

  .about--text {
    padding: 0px 0px;
  }
}

@media (max-width: 480px) {
  .about {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .section__contact {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
  }
}